.infoBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color:  #07212c;
}
.imgBox{
  display: flex;
  width: 70%;
  padding-left: 15px;
}
.imgBox img{
  max-width: 100%;
  align-self: center;
}
h2{
  text-align: center;
  color:  #07212c;
}
