.formContainer{
  border-radius: 30px;
  background-color: lightgrey;
  padding: 15px;
  width: 80%;
  position: relative;
  left: 10%;
}
.formList{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rowElements{
  width: 95%;
}
.tips{
  visibility: hidden;
  position: absolute;
  left: 40%;
  top: 35%;
  background-color: greenYellow;
}
.warning{
  margin: 5px;
  color:red;
}
label{
  width: 25%;
  padding: 10px 0px 10px 0;
  display: inline-block;
  background-color: cyan;
}
input[type=text], input[type=number], input[type^=pass], input[type=date], select{
  width: 70%;
  margin: 5px 0;
  box-sizing: border-box;
}
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus{
  background-color:lightcyan;
  border: 2px solid grey;
}
input[type=submit]{
  background-color: lightblue;
  padding:10px 15px;
  margin 5px 5px;
}
input[type=reset]{
  background-color: pink;
  float: right;
  padding:10px 15px;
  margin 5px 5px;
}
.warningText{
  color: red;
  text-align: center;
}
@media screen and (max-width: 500px) {
    label{
      width: 100%;
    }
    input[type=text], input[type=number], input[type^=pass], input[type=date], select,
    input[type=submit], input[type=reset] {
        width: 100%;
        margin-top: 0;
    }
    .formContainer{
      width: 95%;
      left: 0;
    }
}
