html {
  height: 100%;
  font-family: sans-serif;
}
body {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  display: flex;
}
.pageWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.pageTop {
  display: inline-flex;
  flex-shrink: 0;
  background-color: #333;
}
.pageBody {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  background-image: url("../images/cloud-back.jpeg");
}
/*Navigation Bar styling*/
.navWrapper{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-height: 20%;
  width: 100%;
  background-color: #0b3241;
  min-height: 0;
  min-width: 0;
}
.logoContainer{
  padding: 0;
  margin: 0;
  max-width: 12%;
  max-height: 100%;
  min-width: 0;
  min-height: 0;
}
.logoContainer img{
  max-height: 100%;
  max-width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  display: block;
}
.navRight{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #87ceeb;
  flex-grow: 1;
}
.titleContainer{
  font-size: 2.8em;
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #166483;
  color: white;
}
.navBar{
  display: flex;
  background-color: #2196c4;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin:0;
  flex-wrap: wrap;
}
.navElement{
  background-color: #d3edf8;
  padding: 3px 5px;
  font-size: 1.5em;
  text-align: center;
}
.navElement:hover{
  background-color: #87ceeb;
}
.navElement a{
  color:#166483;
  text-decoration: none;
}
.active{
  background-color: #07212c;
}
.active a{
  color:#d3edf8;
  font-weight: bolder;
}
@media (max-width: 500px) {
  .titleContainer{
    font-size: 2em;
  }
  .navWrapper{
    max-height: 10%;
  }
  .logoContainer{
    max-width: 100%;
  }
  .navElement {
  flex: 100%;
  max-width: 100%;
  font-size: 1.2em;
  }
}
/*Footer formatting*/
.iconsWrapper{
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin: 0;
}
.copy{
  text-align: center;
}
footer{
  background-color: #166483;
  padding: 5px;
}
.footIcon{
  margin-right: 20px;
}
